@import url(https://fonts.googleapis.com/css?family=Rock+Salt|PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Rock+Salt|PT+Sans);
h1, h2, h3, h4, h5, h6 {
  font-family: "Rock Salt", cursive; }

p {
  font-family: "PT Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rock Salt", cursive; }

p {
  font-family: "PT Sans", sans-serif; }

#about {
  text-align: center;
  background-image: url("./../img/graffiti.jpg");
  background-blend-mode: overlay, darken;
  background-color: #1F4457;
  color: #F9F9F9;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#about h1, #about h2 {
  font-family: "Rock Salt", cursive; }

#about p {
  font-family: "PT Sans", sans-serif; }

.block {
  background: rgba(0, 0, 0, 0.2);
  padding-left: 12px;
  padding-right: 12px; }

.bio {
  padding-top: 1em; }

.bio img {
  width: 200px;
  height: 200px; }

.bio-block {
  background: rgba(0, 0, 0, 0.2); }

#blank {
  color: #F9F9F9; }

#contact {
  background-image: url("./../img/flower.jpg");
  background-blend-mode: overlay, darken;
  background-color: #62190A;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white; }

#contact h1 {
  font-family: "Rock Salt", cursive; }

#contact p {
  font-family: "PT Sans", sans-serif;
  font-weight: bolder; }

form {
  display: inline-block; }

input {
  text-align: center; }

label {
  color: #60dfe5; }

footer {
  text-align: center;
  background-color: #000;
  color: #ff4d80; }

.container-fluid {
  background: rgba(0, 0, 0, 0.7); }

#custom-bootstrap-menu.navbar-default {
  font-size: 14px;
  background: black;
  border-width: 0;
  border-radius: 0;
  margin: 0; }
  #custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: white; }
    #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover {
      color: #333333;
      background-color: #60dfe5; }
    #custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
      color: #333333;
      background-color: #60dfe5; }
  #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a {
    color: #555555;
    background-color: #60dfe5; }
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover {
      color: #555555;
      background-color: #60dfe5; }
    #custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
      color: #555555;
      background-color: #60dfe5; }
  #custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #60dfe5; }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:hover {
      background-color: #60dfe5; }
      #custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #ff4d80; }
    #custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
      background-color: #60dfe5; }
      #custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
        background-color: #ff4d80; }
    #custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
      background-color: #60dfe5; }

#banner {
  text-align: center;
  color: #fff;
  padding: 0; }

.background-image {
  background-image: url("./../img/banner_img.jpg");
  background-blend-mode: overlay, darken;
  background-color: #62190A;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

#banner h1 {
  font-family: "Rock Salt", cursive;
  font-size: 400%;
  padding-top: 1em;
  padding-bottom: 1em; }

#banner h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 250%;
  padding-bottom: 1em; }

#social {
  padding-bottom: 3em; }

#social i {
  padding-left: 1em;
  padding-right: 1em; }

section {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5em; }

a {
  background-color: #ff4d80;
  text-decoration: none; }

body a:hover {
  color: #60dfe5;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
