$block-width: 50%;
$height: 100%;
$size: 120px;

$black_100: rgba(0, 0, 0, 1);
$color_french_rose_approx: rgba(255, 77, 128, 1);
$white_100: rgba(255, 255, 255, 1);
$color_mine_shaft_approx: rgba(51, 51, 51, 1);
$color_turquoise_blue_approx: rgba(96, 223, 229, 1);
$color_fuscous_gray_approx: rgba(85, 85, 85, 1);
$color1: #ff4d80;
$color2: #F9F9F9;
$color3: #000;
$color5: #ff4d80;
$brown-overlay: #62190A;
$blue-overlay: #1F4457;
$dark-brown: #130101;
