<h1>A Large G&T</h1>
<h3>Two girls - One podcast<br />Discussing Black British Culture</h3>
<div id="social">
    <a href="https://twitter.com/podcast_gt"><i class="fa fa-twitter fa-3x"></i></a>
    <a href="https://soundcloud.com/large-gandt"><i class="fa fa-soundcloud fa-3x"></i></a>
    <a href="https://www.instagram.com/podcast_gt/"><i class="fa fa-instagram fa-3x"></i></a>
    <a href="https://www.youtube.com/channel/UC5a9nslVX1qP4yAhxSpmnuQ"><i class="fa fa-youtube fa-3x"></i></a>
    <a href="#"><i class="fa fa-rss fa-3x" fa-3x></i></a>
</div>
</div>
<!-- End of mic image -->
</div>
