@import "../variables";
@import "./typography.scss";

#about {
  text-align: center;
  background-image: url('./../img/graffiti.jpg');
  background-blend-mode: overlay, darken;
  background-color: $blue-overlay;
  color: $color2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#about h1, #about h2 {
  font-family: $title;
}

#about p {
  font-family: $body-font;
}

.block {
  background: rgba(0,0,0,0.2);
  // height: 320px;
  padding-left: 12px;
  padding-right: 12px;
}

.bio {
  padding-top: 1em;
}

.bio img {
  width: 200px;
  height: 200px;
}

.bio-block {
  background: rgba(0,0,0,0.2);
  // height: 420px;
  // width: 35%;
  // margin-left: 5px;
  // margin-right: 5px;
}

#blank {
  color: $color2;
}
