#contact {
    background-image: url('./../img/flower.jpg');
    background-blend-mode: overlay, darken;
    background-color: $brown-overlay;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: white;
}

#contact h1 {
    font-family: $title;
}

#contact p {
    font-family: $body-font;
    font-weight: bolder;
}

form {
    display: inline-block;
}

input {
  text-align: center;
}

label {
  color: $color_turquoise_blue_approx;
}
