@import "../variables";

.container-fluid {
  background: rgba(0, 0, 0, 0.7);
}

#custom-bootstrap-menu.navbar-default {
	font-size: 14px;
  background: $black_100;
	border-width: 0;
	border-radius: 0;
  margin: 0;
	.navbar-nav {
		> li > a {
			color: $white_100;
			&:hover {
				color: $color_mine_shaft_approx;
				background-color: $color_turquoise_blue_approx;
			}
			&:focus {
				color: $color_mine_shaft_approx;
				background-color: $color_turquoise_blue_approx;
			}
		}
		> .active > a {
			color: $color_fuscous_gray_approx;
			background-color: $color_turquoise_blue_approx;
			&:hover {
				color: $color_fuscous_gray_approx;
				background-color: $color_turquoise_blue_approx;
			}
			&:focus {
				color: $color_fuscous_gray_approx;
				background-color: $color_turquoise_blue_approx;
			}
		}
	}
	.navbar-toggle {
		border-color: $color_turquoise_blue_approx;
		&:hover {
			background-color: $color_turquoise_blue_approx;
			.icon-bar {
				background-color: $color_french_rose_approx;
			}
		}
		&:focus {
			background-color: $color_turquoise_blue_approx;
			.icon-bar {
				background-color: $color_french_rose_approx;
			}
		}
		.icon-bar {
			background-color: $color_turquoise_blue_approx;
		}
	}
}
